html,
body {
  background-image: url("https://cdna.artstation.com/p/assets/panos/images/008/879/088/large/lothaire-limon-bojack-livingroom-360-final.jpg?1515859100");
    background-repeat: no-repeat;
    background-size: auto;
}

.jumbotron {
  color: black;
  background-color: plum;
  border-radius: 25px;
  padding: 20px;
  margin-top: 1%;
  text-align: center;
}
